extends layout

block content
  h1= title
  - let results=result
  div(class="container-fluid") 
   div(class="row")
    each value,index in results
      div(class="col-sm-2" onclick=`buy(${index})`) house_model: #{value["house_model"]}, house_age: #{value["house_age"]}, house_height: #{value["house_height"]} 
  script.
    let item = 0
      function buy(item){
        alert(`You purchased item ${item}`);
      }
   

